#list{
    border: 2px solid #000;
		margin-left: 2rem;
    width: 80%;
		border-collapse: collapse;
    margin-top: 2rem;
}

.header{
    border: 2px solid #000;
}

#list tr{
		height: 2rem;
}

#list td{
    border-right: 1px solid #000;
    border-left: 1px solid #000;
		text-align: center;
		overflow: auto;
		max-width: 40rem;
		max-height: 1rem;
}

h1{
		text-align: center;
    border-bottom: 3px solid #000;
    padding-bottom: 2rem;
}

.hidden{
		display: none;
}

.completed{
		background-color: green;
}

.userInput{
    margin-top: 3rem;
		position: fixed;
		right: 0px;
		width: 15rem;
		background-color: #cccccc;
}

#addButton{
    margin-top: 2rem;
		position:fixed;
		right: 0px;
}

h1{
		margin-bottom: 0px;
}

#message{
    padding-left: 2rem ;
		height: 1.5rem;
    width: 100%;
}

.success{
		color: darkgreen;
    background-color: #f5f5dc;
}

.error{
		color: darkred;
    background-color: #f5f5dc;
}
